name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  helm-lint:
    name: Helm Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4

      - name: Lint chart
        run: helm lint helm/

      - name: Template chart (default values)
        run: helm template artifact-keeper helm/ > /dev/null

      - name: Template chart (production values)
        run: helm template artifact-keeper helm/ -f helm/values-production.yaml > /dev/null

      - name: Template chart (staging values)
        run: helm template artifact-keeper helm/ -f helm/values-staging.yaml > /dev/null

  terraform-validate:
    name: Terraform Validate (${{ matrix.env }})
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        env: [dev, staging, production]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3

      - name: Terraform init
        run: terraform init -backend=false
        working-directory: terraform/environments/${{ matrix.env }}

      - name: Terraform validate
        run: terraform validate
        working-directory: terraform/environments/${{ matrix.env }}

  terraform-fmt:
    name: Terraform Format Check
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3

      - name: Check formatting
        run: terraform fmt -check -recursive terraform/
